@model IEnumerable<EasyFarm.Models.Invernadero>

@{
    ViewBag.Title = "Estados";
    var list = Model;
}

<h2>Index</h2>

<script type="text/javascript">
    @*var int = self.setInterval("refresh()", 1000);
    function refresh() {
        $.get("@Url.Action("Update")", function (result)
        {
            (IEnumerable<EasyFarm.Models.Invernadero>)result;
            Dim jobjects As IEnumerable(Of JObject) = 
        results.Select(Function(x) JObject.FromObject(x))
        } )  
    }*@
</script>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoCultivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temperatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HumedadRelativa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HumedadSuelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calefaccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ventilador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extractor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iluminacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Riego)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CondicionRiego)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TemporizadorRiego)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flujo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th></th>
    </tr>

@foreach (var item in list)
{
    <tr>
        <td>
            <center> @Html.DisplayFor(modelItem => item.TipoCultivo)</center>
        </td>
        <td>
            <center>  @Html.DisplayFor(modelItem => item.Modo)</center>
        </td>
        <td>
            <center> @Html.DisplayFor(modelItem => item.Temperatura)</center>
        </td>
        <td>
            <center> @Html.DisplayFor(modelItem => item.HumedadRelativa)</center>
        </td>
        <td>
            <center> @Html.DisplayFor(modelItem => item.HumedadSuelo)</center>
        </td>
        <td>
            <center>  @Html.DisplayFor(modelItem => item.Calefaccion)</center>
        </td>
        <td>
            <center>@Html.DisplayFor(modelItem => item.Ventilador)</center>
        </td>
        <td>
            <center> @Html.DisplayFor(modelItem => item.Extractor)</center>
        </td>
        <td>
            <center> @Html.DisplayFor(modelItem => item.Iluminacion)</center>
        </td>
        <td>
            <center> @Html.DisplayFor(modelItem => item.Riego)</center>
        </td>
        <td>
            <center> @Html.DisplayFor(modelItem => item.CondicionRiego)</center>
        </td>
        <td>
            <center>@Html.DisplayFor(modelItem => item.TemporizadorRiego)</center>
        </td>
        <td>
            <center> @Html.DisplayFor(modelItem => item.Flujo)</center>
        </td>
        <td>
            <center>@Html.DisplayFor(modelItem => item.date)</center>
        </td>

    </tr>
}

</table>
